.modal-body{
    background-color: #dedad6;
}
.modal-header{
    background-color: #dedad6;
    border-bottom:0;
}


@media(max-width:767px){
    .contact-form{
        padding-top:0vh;
        width: 70%;
        margin: auto;
    }
    
}