@tailwind base;
@tailwind components;
@tailwind utilities;

.footer{
    min-height: 15vh;
}
.content{
    overflow: hidden;
}
.navbar{
    min-height: 10vh;
}
.content{
    min-height: 90vh;
}
.coffe-cup {
    width: 70vw;
    height: 70vh;
    object-fit: contain; 
}
img{
    max-width: none;
}

.container{
    max-width: 100%;
}

